.inputsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.iconButton {
  min-width: 30px !important;
  padding: 6px !important;
}

.iconButton svg {
  width: 20px !important;
  height: 20px !important;
}